*{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}
html {touch-action: manipulation;}
body{background-color:black;}
body{background-image:url("img/back.jpg");background-size:cover;}
body{color:#000; font-family:"Gulim",sans-serif; font-weight:600;}
body{text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;}

.time{
  position:fixed;
  font-size:100%;
  top:5%;
  left:40px;
  z-index:5;
}
.reload{
  position:fixed;
  font-size:80%;
  top:5%;
  right:70px;
  z-index:5;
  display:inline-block;
  text-decoration:none;
  border-bottom:solid 4px #627295;
  color:#000;
  font-weight:600;
  text-align:center;
  vertical-align:middle;
  text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
  border-radius:5px;
  padding:1px;
  height:25px;
  width:25%;
}

@media screen and (min-width:900px){/*横画面用*/

}

@media screen and (max-width:600px){/*pro split 700?*/
  .time{top:3%;}
  .reload{top:3%;}
}

.reload{background:#ffa500;}
.pm{background:#a9e54d;}
.tp{background:#a9e54d;}
.set{background:#ffa500;}
.image{background:#ffff00;}
.reset{background:#ff2f22;}
.submit{background:#3a5ee7;}
.cmp{background:#3a5ee7;}
.notcmp{background:#ff2f22;}
.back{background:#00552e;}
.delete{background:#ff2f22;}

.pm:hover{background:#99d53d;}
.pmi:hover{background:#99d53d;}
.tp:hover{background:#99d53d;}
.set:hover{background:#ef9500;}
.image:hover{background:#efef00;}
.reset:hover{background:#ef1f12;}
.submit:hover{background:#2a4ed7;}
.cmp:hover{background:#2a4ed7;}
.notcmp:hover{background:#ef1f12;}
.delete:hover{background:#ef1f12;}
.reload:hover{background:#ef9500;}

.pm:active,
.pmi:active,
.tp:active,
.set:active,
.image:active,
.reset:active,
.submit:active,
.cmp:active,
.notcmp:active,
.delete:active,
.reload:active{
  -webkit-transform:translateY(2px);
  transform:translateY(2px);
  box-shadow:0px 0px 1px rgba(0,0,0,0.2);
  border-bottom:none;
}

/*ここからアラートとバナーのcss*/
/*ここからバナー*/
.banner{
  position : fixed;
  top : -700px;
  left : 25vw;
  width: 50vw;
  background: rgba(55,55,55,0.9);
  text-shadow:none;
  color:white;
  text-align:center;
  z-index:29;
  border-radius : 20px;
  border : solid 3px white;
  animation: animation-banner 5s;
}
.banner p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes animation-banner {
  0%{top:-700px;display:block;}
  6%{top:20px;}
  9%{top:0px;}
  13%{top:12px;}
  19%{top:5px;}
  90%{top:5px;}
  92%{top:7px;}
  100%{top:-700px;}
}
@keyframes animation-banner-up {
  0%{top:0px;}
  100%{top:-700px;}
}

/*ここからアラート*/
  .bgAlert{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    animation:animation-background 0.3s;
    z-index:29;
  }
  .alert{
    background:rgba(55,55,55,0.9);
    border-radius:30px;
    color: white;
    padding: 20px;
    position :fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-shadow: none;
    text-align: center;
    overflow: hidden;
    border: solid 3px white;
    animation: animation-popup 0.3s;
  }
  .alert p{
    font-size:120%;
  }
  .alert button{
    color: white;
    background: rgba(200,200,200,0.5);
    width:calc(50% - 10px);
    border-radius: 30px;
    margin: 5px 5px;
    outline-color: white;
    padding:10px;
    border: 2px solid white;
  }
  .alert button:active {
    border-color: #AAA;
    color:#AAA;
    background: rgba(0,0,0,0.7);
  }
  .alert div{
    font-size:70%;
    text-align: right;
  }

  @keyframes animation-background{
    0%{display:  none; background: rgba(0,0,0,0);}
    1%{display:  block;background: rgba(0,0,0,0);}
    100%{display:block;background: rgba(0,0,0,0.5);}
  }
  @keyframes animation-popup{
    0%{display:none  ;padding-top: 0px;padding-bottom :0px;height:0px;}
    20%{display:block;padding : 0px;height:0px;}
    25%{display:block;padding : 0px 60px;height:0px;}
    40%{display:block;padding : 10px 20px;height:0px;}
    90%{display:block;padding-top: 25px;padding-bottom :25px;height:auto;}
    100%{display:block;padding-top: 20px;padding-bottom :20px;height:auto;}
  }
  /*ここまでアラート*/
